<ul class="left-qus-pane d-none d-md-block list-style-none">
    <li class="d-flex align-items-center {% if menu == 'step_1' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">01</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Reason for application</h6>
        <span class="{% if menu == 'step_1' %}curve-effect{%endif%}"></span>
    </li>
    <li class="d-flex align-items-center {% if menu == 'step_2' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">02</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Create Account</h6>
        <span class="{% if menu == 'step_2' %}curve-effect{%endif%} "></span>
    </li>
    <li class="d-flex align-items-center {% if menu == 'step_3' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">03</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Personal Details</h6>
        <span class="{% if menu == 'step_3' %}curve-effect{%endif%}"></span>
    </li>
    <li class="d-flex align-items-center {% if menu == 'step_4' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">04</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Mailing Address </h6>
        <span class="{% if menu == 'step_4' %}curve-effect{%endif%}"></span>
    </li>
    <li class="d-flex align-items-center {% if menu == 'step_5' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">05</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Birth Information </h6>
        <span class="{% if menu == 'step_5' %}curve-effect{%endif%}"></span>
    </li>
    <li class="d-flex align-items-center {% if menu == 'step_6' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">06</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Biographic Information</h6>
        <span class="{% if menu == 'step_6' %}curve-effect{%endif%}"></span>
    </li>
    <li class="d-flex align-items-center {% if menu == 'step_7' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">07</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Your Permanent Resident Card</h6>
        <span class="{% if menu == 'step_7' %}curve-effect{%endif%}"></span>
    </li>
    <li class="d-flex align-items-center {% if menu == 'step_8' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">08</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Becoming a Permanent Resident</h6>
        <span class="{% if menu == 'step_8' %}curve-effect{%endif%}"></span>
    </li>
    <li class="d-flex align-items-center {% if menu == 'step_9' %}active-effect{%endif%}">
        <span class="count-highlight d-flex justify-content-center align-items-center">09</span> 
        <h6 class="mb-0 line-height-19 font-size-16">Applicant Contact Information</h6>
        <span class="{% if menu == 'step_9' %}curve-effect{%endif%}"></span>
    </li>
</ul>